@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content">
    <section class="vbox">
        <header class="header bg-dark bg-gradient">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#basic" data-toggle="tab">Categorias</a></li>
            </ul>
        </header>

        <section class="scrollable wrapper">
            <div class="wrapper">
                <p class="h4">
                    Não foram encontrados resultados
                </p>
            </div>

        </section>
    </section>
</section>

